.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #082f3d;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.App:before {
  /* content: ""; */
  border: 2px solid #fafafa;
  border-radius: 50%;
  filter: blur(1px);
  width: 200vw;
  height: 300vh;
  position: absolute;
  top: -275vh;
  left: -50vw;
}
