.SnowGlobe {
  display: block;
}

.SnowGlobe > .Globe {
  border-radius: 50%;
  background-image: radial-gradient(circle at 15vmin 15vmin, #fcfcfc, rgba(235, 235, 235, 0.75));
  filter: blur(2px);
  max-width: 425px;
  max-height: 425px;
  width: 68.75vmin;
  height: 68.75vmin;
  position: absolute;
  top: 7.5vmin;
  right: 2.5vmin;
}

.SnowGlobe > .Globe:before {
  content: "";
  border-radius: 50%;
  background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0) 50%);
  width: 100%;
  height: 100%;
  position: absolute;
}

.SnowGlobe > .Globe:after {
  content: "";
  background: radial-gradient(circle at 47.5% 0px, white, rgba(255, 255, 255, 0) 50%);
  border-radius: 50%;
  filter: blur(25px);
  width: 100%;
  height: 50%;
  position: absolute;
}

.SnowGlobe > .Base {
  background-image: linear-gradient(to top, rgba(22, 22, 22, 0.375), transparent);
  background-color: #a0522d;
  border-top-left-radius: 12em;
  border-top-right-radius: 12em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin: -7.5vmin 0 0 -5vmin;
  z-index: 1;
  width: calc(100% + 10vmin);
  height: 20vmin;
  position: relative;
}
